.navbar {
  background-color: #052935; 
}

.navbar-brand {
  color: white; 
}

.navbar-toggler-icon {
  background-color: white; 
}

.navbar-nav .nav-link {
  color: white; 
}

.navbar-nav .nav-link:hover {
  color: #cce5ff; 

.navbar-nav .nav-link.active {
  color: #cce5ff; 
}

h1{font-family: "News Cycle", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #052935}
  
h2{font-family: "News Cycle", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: #052935}
  
h4{font-family: "News Cycle",  sans-serif;
  font-size: 400;
  line-height: 1.1;
  color: #052935}
  
body{font-size: 12;
     color: #052935;
}